aside{
	color: white !important;
	width: 20%;
}
.aside-social{
	width: 50%;
}
 .aside-social ul{
	display: flex;
	justify-content: space-between;
}
.aside-social ul li {
	padding-right: 10px;
	padding-left: 10px;
	border-right: 1px solid white;
}
.aside-social ul li a{
	color:inherit;
}
 .aside-social ul li a i.fa-instagram {
	color: #FF3366; /* Instagram icon color */
 }
 
 .asideImg img{
	width: 100px;
	border-radius: 50%;
	margin-left: 39px;
	object-fit: cover;
	margin-bottom: 17px;
 }
.aside-social  ul li a i.fa-twitter {
	color: #00aced; /* Twitter icon color */
 }
 
.aside-social  ul lia i.fa-linkedin {
	color: #022d41; /* LinkedIn icon color */
 }
 .side-menu ul li{
	padding: 7px 0 ;
	transition: all 1s;
 }
 .side-menu ul li:hover{
	transform: scale(1.06);
 }
 .side-menu ul li a{
	text-decoration: none;
	color: white;
	transition: all 0.5s;
 }

 .side-menu ul li a:hover
 {
	color: skyblue;
 }
.dropdown-menu{
	transform: translate(116px, 0px) !important;
}
 .dropdown-item{
	color:white;
 }

 .aside-customer {
	cursor: pointer;
   }
   
   .submenu-angle {
	height: 0;
	overflow: hidden;
	transition: height 0.5s ease;
   }
   
   .submenu-angle.open {
	height: 100px;
   }
   
   .submenu-angle li {
	height: 30px;
	width: 100%;
	overflow: hidden;
	transition: height 0.5s ease;
   }
   .aside-catagory{
	cursor: pointer;
   }
   .submenu-catagory{
	height: 0;
	overflow: hidden;
	transition: height 0.5s ease;
   }

   .submenu-catagory.open {
	height: 100px;
   }
   .submenu-catagory li{
	height: 30px;
	width: 100%;
	overflow: hidden;
	transition: height 0.5s ease;
   }