*{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body{
	background-color: #202c44 !important;

}

.mycontainer{
display: flex;
justify-content: space-between;
}
main{
	width: 80%;
	background-color: white;
	height: 89vh;
}