*{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body{
	background-color: #202c44 !important;

}

.mycontainer{
display: flex;
justify-content: space-between;
}
main{
	width: 80%;
	background-color: white;

}
.keepCatData{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.keepCatData > .mb-3{
	width: 45%;
}

.keepCatMeta{
	width: 94%;
	margin: 0 auto;
}
.card{
	width: 87%;
	margin: 0 auto;
}